.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
}

.cabecera__buscar__item{                /*no muestra la barra de busqueda*/
    display: none;
}

@media (min-width:834px) {              /*Condicional*/

    .cabecera__buscar__item{
        display: block;
    }

}

.rodapie__container{
    display: flex;      /*Adaptacion de pantalla en automatico se nota el  cambio en el footer queda a 7 columnas*/
    flex-direction: column; /*Hace que todo este en una sola columna es decir pareciera que no se modifico nada*/

}
